<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979493797680-ad20ivim2ttqq9cpuosj3asqm0l4t0h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979493797680-ad20ivim2ttqq9cpuosj3asqm0l4t0h5</string>
	<key>API_KEY</key>
	<string>AIzaSyCPAvgtCL4lMZuP87pNdd0crsZhtlCahc8</string>
	<key>GCM_SENDER_ID</key>
	<string>979493797680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raveBizz.cardProj</string>
	<key>PROJECT_ID</key>
	<string>flashcard-2254c</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcard-2254c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979493797680:ios:3b487a593e6b14975d52f5</string>
</dict>
</plist>